/* === ROOT VARIABLES & DESIGN TOKENS === */

:root {
  /* === COLORS === */
  --text-dark: #2e2e2e;
  --text-light: #ffffff;
  --text-grey: #a1a4a5;

  /* PRIMARY COLOR */
  --science-blue-50: #eef0fd;
  --science-blue-100: #d6dcfa;
  --science-blue-200: #b0bef5;
  --science-blue-300: #8da3f1;
  --science-blue-400: #698bed;
  --science-blue-500: #3d74e8;
  --science-blue-600: #3160c4;
  --science-blue-700: #274ea1;
  --science-blue-800: #193674;
  --science-blue-900: #0a1d44;
  --science-blue-950: #04102a;

  /* SECONDARY COLOR */
  --sky-blue-50: #ddf5fe;
  --sky-blue-100: #b7ebfe;
  --sky-blue-200: #66dcfd;
  --sky-blue-300: #2accf0;
  --sky-blue-400: #24b3d3;
  --sky-blue-500: #1d97b3;
  --sky-blue-600: #157a90;
  --sky-blue-700: #0d5c6e;
  --sky-blue-800: #063f4b;
  --sky-blue-900: #02222a;
  --sky-blue-950: #011319;

  /* GRAYSCALE PALETTE */
  --gray-50: #f1f1f1;
  --gray-100: #dedede;
  --gray-200: #c2c2c2;
  --gray-300: #a9a9a9;
  --gray-400: #939393;
  --gray-500: #7e7e7e;
  --gray-600: #6c6c6c;
  --gray-700: #535353;
  --gray-800: #393939;
  --gray-900: #1f1f1f;
  --gray-950: #111111;

  /* BACKGROUNDS */
  --bg-white: #ffffff;
  --bg-light: #f3f4f6;

  /* === FONTS === */
  --body-font: "Inter", sans-serif;
  --heading-font: "Poppins", sans-serif;

  /* === TEXT SIZES === */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
  --text-7xl: 4.5rem; /* 72px */
  --text-8xl: 6rem; /* 96px */
  --text-9xl: 8rem; /* 128px */

  /* === SPACING === */
  --space-0: 0;
  --space-px: 1px;
  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-8: 2rem; /* 32px */
  --space-10: 2.5rem; /* 40px */
  --space-12: 3rem; /* 48px */
  --space-14: 3.5rem; /* 56px */
  --space-16: 4rem; /* 64px */
  --space-20: 5rem; /* 80px */
  --space-24: 6rem; /* 96px */
  --space-32: 8rem; /* 128px */
  --space-48: 12rem; /* 192px */
  --space-60: 15rem; /* 240px */
  --space-80: 20rem; /* 320px */
  --space-96: 24rem; /* 384px */

  /* === BOX SHADOW === */
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  /* Width/Height utilities */
  --width-stantard: 1200px;
}

/* === GLOBAL & RESET STYLES === */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
body {
  font-family: var(--body-font);
  color: var(--text-dark);
  background-color: var(--bg-white);
}

main {
  margin: var(--space-10) 0;
}

/* === TYPOGRAPHY & BASE ELEMENT STYLES === */

h1 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--text-8xl);
  letter-spacing: -1px;
  line-height: 1.125;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 600;
  font-size: var(--text-4xl);
  letter-spacing: -0.25px;
  line-height: 1.2;
}

h3 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--text-3xl);
  line-height: 1.2;
}

h4 {
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--text-2xl);
  letter-spacing: 0.25px;
  line-height: 1.4;
}

p {
  font-size: var(--text-lg);
  line-height: 1.4;
  font-weight: 400;
  margin: var(--space-4) 0;
}

a {
  text-decoration: none;
  color: var(--science-blue-600);
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: var(--science-blue-800);
}

ul {
  list-style: none;
}

/* === REUSABLE COMPONENTS & UTILITY CLASSES === */

/* --- Cards --- */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--space-2) var(--space-4) var(--space-2) 0;
}
.card .icon {
  height: 50px;
  margin: 0 0 var(--space-2) 0;
}
.card h3 {
  font-size: var(--text-xl);
  margin: 0;
  width: 100%;
}

/* --- Text Styles --- */
.subtitle {
  color: var(--science-blue-600);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 1.4;
}
.subtitle2 {
  color: var(--sky-blue-400);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 1.4;
}
.secondary-text {
  font-size: var(--text-sm);
  line-height: 1.4;
  color: var(--text-grey);
}

/* --- Buttons --- */
.primary-button {
  font-family: var(--body-font);
  font-size: var(--text-base);
  letter-spacing: 1.25;
  font-weight: 600;
  border-radius: 16px;
  border: none;
  color: var(--text-light);
  background-color: var(--science-blue-900);
  padding: var(--space-2) var(--space-4);
  transition: all 0.2s ease-in-out;
}
.primary-button:hover {
  background-color: var(--science-blue-500);
  cursor: pointer;
}

.secondary-button {
  font-family: var(--body-font);
  font-size: var(--text-base);
  letter-spacing: 1.25;
  font-weight: 600;
  border-radius: 16px;
  border: none;
  color: var(--science-blue-900);
  background-color: transparent;
  border: 1px solid var(--science-blue-100);
  padding: var(--space-2) var(--space-4);
  transition: all 0.2s ease-in-out;
}
.secondary-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

/* --- Button Icon Modifier --- */
.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.with-icon > img {
  transition: transform 0.2s ease-in-out;
}
.with-icon:hover > img {
  transform: translateX(4px);
}

/* === LAYOUT STYLES === */

.container {
  width: 100%;
  max-width: var(--width-stantard);
  margin: 0 auto;
}

.two-column {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-6);
}

.two-column > .col-left,
.two-column > .col-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* === NAVBAR === */

.navbar {
  padding: var(--space-4) 0;
  position: relative;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar::before {
  content: "";
  width: 200%;
  height: 970px;
  transform: rotate(-10deg);
  background-image: linear-gradient(
    180deg,
    var(--science-blue-600) 50%,
    var(--science-blue-50) 100%
  );
  position: absolute;
  top: -600px;
  left: -50%;
  z-index: -1;
}

.navbar-menu {
  display: flex;
  gap: var(--space-6);
  justify-content: center;
  align-items: center;
}
.navbar-menu a {
  color: var(--text-light);
  padding: var(--space-2) 0;
  display: inline-block;
  font-weight: 700;
  position: relative;
}
.navbar-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--text-light);
  margin-top: var(--space-1);
  position: absolute;
  transition: 0.25s;
}
.navbar-menu a:hover:after {
  width: 100%;
}

.navbar-button {
  background-color: rgba(250, 250, 250, 0.25);
}
.navbar-button:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

/* === HERO === */

.hero {
  margin: var(--space-16) 0;
}
.button-container {
  display: flex;
  gap: var(--space-4);
  margin-top: var(--space-4);
}
.hero p {
  max-width: 480px;
}
.hero .hero-phone-container {
  height: 564px;
  align-items: flex-end;
}
.hero-phone {
  height: 628px;
  transform: translate(32px, -32px);
}

/* === PARTNERS === */

.partners-grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  margin: var(--space-12) 0;
  column-gap: var(--space-4);
  row-gap: var(--space-8);
}
.partners-grid img {
  height: 60px;
  place-self: center;
}

/* === UNIFIED PLATFORM === */

.unified-platform {
  padding: var(--space-12) 0;
}
.unified-platform h2 {
  width: 50%;
  margin-bottom: var(--space-4);
}
.unified-platform .primary-button {
  background-color: var(--science-blue-600);
  margin: var(--space-4) 0;
}
.unified-platform .primary-button:hover {
  background-color: var(--science-blue-900);
}

/* === GRAPHIC GRID === */

.graphic-grid {
  display: grid;
  grid-template-areas:
    "card slack slack"
    "phone slack slack"
    "phone dash dash";
  grid-gap: var(--space-8);
  padding: var(--space-8) 0;
}
#credit-card {
  grid-area: card;
  width: 100%;
  box-shadow: var(--shadow-lg);
  border-radius: 24px;
}
#slack-invoice {
  grid-area: slack;
  width: 100%;
  box-shadow: var(--shadow-lg);
  border-radius: 24px;
}
#phone {
  grid-area: phone;
  width: 100%;
}
#dash {
  grid-area: dash;
  width: 100%;
  box-shadow: var(--shadow-lg);
  border-radius: 24px;
}

/* === INTEGRATIONS === */

.integrations {
  color: var(--text-light);
  width: 100%;
  position: relative;
  padding: var(--space-48) 0;
  z-index: 1;
}
.integrations::before {
  content: "";
  width: 100%;
  height: 1100px;
  background-color: var(--science-blue-900);
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -1;
  transform: skewY(-10deg);
}
.integrations .primary-button {
  background-color: var(--sky-blue-400);
  color: var(--science-blue-900);
  margin: var(--space-4) 0 0 0;
}
.integrations .primary-button:hover {
  background-color: var(--bg-white);
}
.integrations .secondary-button {
  color: var(--sky-blue-400);
}
.integrations .card-container {
  display: flex;
  margin: var(--space-8) 0;
}
.integrations .card-container .card {
  width: 50%;
}
#api-code {
  max-width: 470px;
  margin: 0 0 var(--space-4) 0;
  border-radius: 24px;
}
#terminal-code {
  max-width: 470px;
  border-radius: 24px;
}

/* === WHY SWIPE === */

.why-swipe {
  width: 100%;
  padding: var(--space-48) 0;
}
.why-swipe .card-container {
  display: flex;
  margin: var(--space-8) 0;
}
.why-swipe .card-container .card {
  width: 25%;
  padding: 0 var(--space-2) 0 0;
  margin: 0 var(--space-4) 0 0;
}
.why-swipe .secondary-text {
  /* Contextual override to make text darker here */
  color: var(--text-dark);
}
